/* screen - d3 */

.d3 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1607px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d3 .gipexit-22-WN0xV9 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d3 .span0-ojzsez {
}

.d3 .span1-ojzsez {
}

.d3 .dsc01529-WN0xV9 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.43% - 155px);
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3 .dsc01530-WN0xV9 {
  background-color: transparent;
  height: 240px;
  left: calc(29.70% - 95px);
  object-fit: cover;
  position: absolute;
  top: calc(41.26% - 99px);
  width: 320px;
}

.d3 .dsc01531-WN0xV9 {
  background-color: transparent;
  bottom: calc(48.49% - 248px);
  height: 512px;
  object-fit: cover;
  position: absolute;
  right: calc(34.00% - 232px);
  width: 683px;
}

.d3 .dsc01532-WN0xV9 {
  background-color: transparent;
  height: 240px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3 .dsc01533-WN0xV9 {
  background-color: transparent;
  height: 240px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: calc(41.26% - 99px);
  width: 320px;
}

.d3 .dsc01534-WN0xV9 {
  background-color: transparent;
  bottom: calc(37.53% - 90px);
  height: 240px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  width: 320px;
}

.d3 .dsc01523-WN0xV9 {
  background-color: transparent;
  bottom: calc(18.87% - 45px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.43% - 155px);
  width: 320px;
}

.d3 .dsc01524-WN0xV9 {
  background-color: transparent;
  bottom: calc(49.96% - 120px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 78px;
  width: 320px;
}

.d3 .dsc01525-WN0xV9 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(26.57% - 85px);
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3 .dsc01526-WN0xV9 {
  background-color: transparent;
  bottom: calc(18.87% - 45px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(26.57% - 85px);
  width: 320px;
}

.d3 .dsc01527-WN0xV9 {
  background-color: transparent;
  height: 240px;
  left: calc(29.70% - 95px);
  object-fit: cover;
  position: absolute;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3 .dsc01528-WN0xV9 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 78px;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3 .image-6-WN0xV9 {
  background-color: transparent;
  bottom: 0px;
  height: 307px;
  object-fit: cover;
  position: absolute;
  right: 81px;
  width: 360px;
}

.d3 .d3-WN0xV9 {
  background-color: transparent;
  bottom: -45px;
  height: 782px;
  left: calc(29.55% - 107px);
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}
/* screen - d3-1 */

.d3-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1607px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d3-1 .gipexit-22-NgAVwz {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d3-1 .span0-CVCJQU {
}

.d3-1 .span1-CVCJQU {
}

.d3-1 .dsc01529-NgAVwz {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.55% - 155px);
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3-1 .dsc01530-NgAVwz {
  background-color: transparent;
  height: 240px;
  left: calc(29.82% - 95px);
  object-fit: cover;
  position: absolute;
  top: calc(41.26% - 99px);
  width: 320px;
}

.d3-1 .dsc01531-NgAVwz {
  background-color: transparent;
  bottom: calc(48.49% - 248px);
  height: 512px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 17px);
}

.d3-1 .dsc01532-NgAVwz {
  background-color: transparent;
  height: 240px;
  left: calc(34.30% - 110px);
  object-fit: cover;
  position: absolute;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3-1 .dsc01533-NgAVwz {
  background-color: transparent;
  height: 240px;
  left: calc(34.30% - 110px);
  object-fit: cover;
  position: absolute;
  top: calc(41.26% - 99px);
  width: 320px;
}

.d3-1 .dsc01534-NgAVwz {
  background-color: transparent;
  bottom: calc(37.53% - 90px);
  height: 240px;
  left: calc(34.30% - 110px);
  object-fit: cover;
  position: absolute;
  width: 320px;
}

.d3-1 .dsc01523-NgAVwz {
  background-color: transparent;
  bottom: calc(18.87% - 45px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.55% - 155px);
  width: 320px;
}

.d3-1 .dsc01524-NgAVwz {
  background-color: transparent;
  bottom: calc(49.96% - 120px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 78px;
  width: 320px;
}

.d3-1 .dsc01525-NgAVwz {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 101px;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3-1 .dsc01526-NgAVwz {
  background-color: transparent;
  bottom: calc(18.87% - 45px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 101px;
  width: 320px;
}

.d3-1 .dsc01527-NgAVwz {
  background-color: transparent;
  height: 240px;
  left: calc(29.82% - 95px);
  object-fit: cover;
  position: absolute;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3-1 .dsc01528-NgAVwz {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 78px;
  top: calc(20.04% - 48px);
  width: 320px;
}

.d3-1 .image-6-NgAVwz {
  background-color: transparent;
  bottom: 0px;
  height: 307px;
  object-fit: cover;
  position: absolute;
  right: 81px;
  width: 360px;
}

.d3-1 .d3-NgAVwz {
  background-color: transparent;
  bottom: -45px;
  height: 782px;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}
@media screen and (max-width: 1979px) {
  .screen.d3 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.d3-1 { 
    display: none;
   }
}