/* screen - d6 */

.d6 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d6 .gipexit-22-akgA9p {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d6 .span0-cFQoLA {
}

.d6 .span1-cFQoLA {
}

.d6 .dsc01542-akgA9p {
  background-color: transparent;
  bottom: calc(37.56% - 90px);
  height: 240px;
  left: calc(27.65% - 88px);
  object-fit: cover;
  position: absolute;
  width: 320px;
}

.d6 .dsc01543-akgA9p {
  background-color: transparent;
  bottom: 130px;
  height: 427px;
  object-fit: cover;
  position: absolute;
  right: calc(48.43% - 155px);
  width: 320px;
}

.d6 .dsc01538-akgA9p {
  background-color: transparent;
  height: 240px;
  left: calc(27.65% - 88px);
  object-fit: cover;
  position: absolute;
  top: calc(24.53% - 59px);
  width: 320px;
}

.d6 .dsc01539-akgA9p {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.43% - 155px);
  top: calc(24.53% - 59px);
  width: 320px;
}

.d6 .dsc01540-akgA9p {
  background-color: transparent;
  height: 320px;
  object-fit: cover;
  position: absolute;
  right: calc(27.99% - 67px);
  top: calc(27.09% - 87px);
  width: 240px;
}

.d6 .dsc01541-akgA9p {
  background-color: transparent;
  bottom: calc(30.81% - 74px);
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 287px;
  width: 320px;
}

.d6 .image-10-akgA9p {
  background-color: transparent;
  height: 174px;
  left: 170px;
  object-fit: cover;
  position: absolute;
  top: calc(31.54% - 55px);
  width: 212px;
}

.d6 .d6-akgA9p {
  background-color: transparent;
  bottom: -167px;
  height: 782px;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}
/* screen - d6-1 */

.d6-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d6-1 .gipexit-22-qK4iw6 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(18.79% - 18px);
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d6-1 .span0-m13R6x {
}

.d6-1 .span1-m13R6x {
}

.d6-1 .dsc01542-qK4iw6 {
  background-color: transparent;
  bottom: calc(37.56% - 90px);
  height: 240px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  width: 320px;
}

.d6-1 .dsc01543-qK4iw6 {
  background-color: transparent;
  bottom: 130px;
  height: 427px;
  object-fit: cover;
  position: absolute;
  right: calc(48.51% - 155px);
  width: 320px;
}

.d6-1 .dsc01538-qK4iw6 {
  background-color: transparent;
  height: 240px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: calc(24.53% - 59px);
  width: 320px;
}

.d6-1 .dsc01539-qK4iw6 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(48.51% - 155px);
  top: calc(24.53% - 59px);
  width: 320px;
}

.d6-1 .dsc01540-qK4iw6 {
  background-color: transparent;
  height: 320px;
  object-fit: cover;
  position: absolute;
  right: calc(27.87% - 67px);
  top: calc(27.09% - 87px);
  width: 240px;
}

.d6-1 .dsc01541-qK4iw6 {
  background-color: transparent;
  bottom: calc(30.81% - 74px);
  height: 240px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 320px;
}

.d6-1 .image-10-qK4iw6 {
  background-color: transparent;
  height: 174px;
  left: calc(45.21% - 96px);
  object-fit: cover;
  position: absolute;
  top: calc(31.54% - 55px);
  width: 212px;
}

.d6-1 .d6-qK4iw6 {
  background-color: transparent;
  bottom: -167px;
  height: 782px;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}
@media screen and (max-width: 1979px) {
  .screen.d6 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.d6-1 { 
    display: none;
   }
}