/* screen - d7 */

.d7 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d7 .gipexit-22-HA8Yz4 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d7 .span0-q4GGCU {
}

.d7 .span1-q4GGCU {
}

.d7 .dsc01545-HA8Yz4 {
  background-color: transparent;
  height: 240px;
  left: calc(20.18% - 65px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7 .dsc01546-HA8Yz4 {
  background-color: transparent;
  height: 240px;
  left: calc(40.06% - 128px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7 .dsc01547-HA8Yz4 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(40.06% - 128px);
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7 .dsc01544-HA8Yz4 {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(20.18% - 65px);
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7 .d7-HA8Yz4 {
  background-color: transparent;
  height: 782px;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 362px;
}
/* screen - d7-1 */

.d7-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.d7-1 .gipexit-22-8gHrrh {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.d7-1 .span0-maBdcP {
}

.d7-1 .span1-maBdcP {
}

.d7-1 .dsc01545-8gHrrh {
  background-color: transparent;
  height: 240px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7-1 .dsc01546-8gHrrh {
  background-color: transparent;
  height: 240px;
  left: calc(40.10% - 128px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7-1 .dsc01547-8gHrrh {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: calc(40.10% - 128px);
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7-1 .dsc01544-8gHrrh {
  background-color: transparent;
  height: 240px;
  object-fit: cover;
  position: absolute;
  right: 83px;
  top: calc(50.00% - 120px);
  width: 320px;
}

.d7-1 .d7-8gHrrh {
  background-color: transparent;
  height: 782px;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 362px;
}
@media screen and (max-width: 1979px) {
  .screen.d7 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.d7-1 { 
    display: none;
   }
}