/* screen - concept */

.concept {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 512px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.concept .gipexit-22-H123aU {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  left: 382px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 81px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.concept .span0-j7jUNs {
}

.concept .span1-j7jUNs {
}

.concept .image-34-H123aU {
  background-color: transparent;
  bottom: calc(24.55% - 76px);
  height: 310px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  width: 203px;
}

.concept .image-33-H123aU {
  background-color: transparent;
  bottom: calc(22.64% - 24px);
  height: 104px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 228px;
}

.concept .image-35-H123aU {
  background-color: transparent;
  height: 247px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: calc(100.00% - 92px);
}

.concept .concept-H123aU {
  background-color: transparent;
  cursor: pointer;
  height: 347px;
  left: 179px;
  letter-spacing: 0.00px;
  line-height: 83px;
  position: fixed;
  text-align: left;
  top: 447px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 356px);
}

.concept .h14-p48-het-klein-be-H123aU {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 79px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  right: 33px;
  text-align: left;
  top: calc(32.02% - 25px);
  white-space: nowrap;
  width: 223px;
}
/* screen - index-3 */

.index-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-3 .image-32-mOV5G4 {
  background-color: transparent;
  bottom: -105px;
  height: 837px;
  left: calc(50.00% - 275px);
  object-fit: cover;
  position: absolute;
  width: 550px;
}

.index-3 .image-15-mOV5G4 {
  background-color: transparent;
  height: 667px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 1134px;
}

.index-3 .image-16-mOV5G4 {
  background-color: transparent;
  bottom: calc(23.35% - 65px);
  height: 279px;
  object-fit: cover;
  position: absolute;
  right: 147px;
  width: 614px;
}

.index-3 .gipexit-22-mOV5G4 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-3 .span0-uxj9tx {
}

.index-3 .span1-uxj9tx {
}

.index-3 .h14-p48-het-klein-be-mOV5G4 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: 222px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: 145px;
  text-align: left;
  top: calc(43.24% - 96px);
  white-space: nowrap;
  width: 616px;
}

.index-3 .concept-mOV5G4 {
  background-color: transparent;
  cursor: pointer;
  height: 617px;
  left: 808px;
  letter-spacing: 0.00px;
  line-height: 149px;
  position: fixed;
  text-align: left;
  top: 434px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 1705px);
}
@media screen and (max-width: 1979px) {
  .screen.index-3 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.concept { 
    display: none;
   }
}