/* screen - index-22 */

.index-22 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1126px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-22 .kunstenaars-Tw3xY8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 1px;
  font-style: normal;
  font-weight: 400;
  height: 0.53%;
  left: 61.14%;
  letter-spacing: 0.00px;
  line-height: 1px;
  position: absolute;
  text-align: left;
  top: 17.41%;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 0.57%;
}

.index-22 .gipexit-22-Tw3xY8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 32px;
  font-weight: 400;
  height: 63px;
  left: calc(41.76% - 19px);
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 179px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 45px;
}

.index-22 .span0-Uwz0UX {
  font-style: normal;
}

.index-22 .span1-Uwz0UX {
  font-family: var(--font-family-menckenstd-regular);
  font-size: 22px;
  font-style: normal;
}

.index-22 .thierry-de-cordier-Tw3xY8 {
  background-color: transparent;
  height: 53px;
  left: calc(33.12% - 89px);
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: calc(21.28% - 11px);
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 268px;
}

.index-22 .joep-van-liefland-Tw3xY8 {
  background-color: transparent;
  bottom: calc(38.05% - 81px);
  height: 212px;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  transform: rotate(-1.00deg);
  width: calc(100.00% + 416px);
}

.index-22 .teching-hsieh-Tw3xY8 {
  background-color: transparent;
  height: 155px;
  left: calc(35.43% - 71px);
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: calc(40.67% - 63px);
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 200px;
}

.index-22 .joris-van-de-moortel-Tw3xY8 {
  background-color: transparent;
  height: 206px;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 70px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(31.47% - 65px);
  transform: rotate(-1.00deg);
  width: calc(100.00% + 481px);
}

.index-22 .gipexit-22-4v2gtk {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 82px;
  text-align: left;
  top: 85px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-22 .span0-TWwz2d {
}

.index-22 .span1-TWwz2d {
}
