/* screen - index-10 */

.index-10 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-10 .livestream-mTrv06 {
  background-color: transparent;
  bottom: -103px;
  cursor: pointer;
  height: 766px;
  left: calc(47.71% - 133px);
  letter-spacing: 0.00px;
  line-height: 149px;
  position: fixed;
  text-align: left;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 279px;
}

.index-10 .gipexit-22-mTrv06 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 53px;
  text-align: left;
  top: 89px;
  transform: rotate(1.00deg);
  width: 134px;
}

.index-10 .span0-Al1Ldf {
}

.index-10 .span1-Al1Ldf {
}

.index-10 .x2022-04-12-00-00-07_-moment-mTrv06 {
  background-color: transparent;
  height: 367px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 147px;
  width: 649px;
}

.index-10 .x2022-04-12-06-57-02_-moment2-mTrv06 {
  background-color: transparent;
  bottom: 73px;
  height: 389px;
  object-fit: cover;
  position: absolute;
  right: 287px;
  width: 519px;
}

.index-10 .x2022-04-12-06-57-02_-moment4-mTrv06 {
  background-color: transparent;
  height: 386px;
  object-fit: cover;
  position: absolute;
  right: 287px;
  top: calc(24.24% - 94px);
  width: 519px;
}
/* screen - index-19 */

.index-19 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1771px;
  min-width: 636px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-19 .x2022-04-12-06-57-02_-moment4-ifiAox {
  background-color: transparent;
  height: 168px;
  object-fit: cover;
  position: absolute;
  right: 54px;
  top: calc(25.23% - 42px);
  width: 225px;
}

.index-19 .livestream-ifiAox {
  background-color: transparent;
  cursor: pointer;
  height: 766px;
  left: calc(47.99% - 134px);
  letter-spacing: 0.00px;
  line-height: 149px;
  position: fixed;
  text-align: left;
  top: calc(41.48% - 318px);
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 279px;
}

.index-19 .gipexit-22-ifiAox {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 53px;
  text-align: left;
  top: 89px;
  transform: rotate(1.00deg);
  width: 134px;
}

.index-19 .span0-6ewMaN {
}

.index-19 .span1-6ewMaN {
}

.index-19 .x2022-04-12-00-00-07_-moment-ifiAox {
  background-color: transparent;
  height: 163px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 126px;
  width: 288px;
}

.index-19 .x2022-04-12-06-57-02_-moment2-ifiAox {
  background-color: transparent;
  height: 195px;
  object-fit: cover;
  position: absolute;
  right: 58px;
  top: calc(49.86% - 97px);
  width: 260px;
}
@media screen and (max-width: 1979px) {
  .screen.index-10 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.index-19 { 
    display: none;
   }
}