/* screen - index-17 */

.index-17 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2421px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-17 .joris-van-de-moortel-4LOxT5 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  height: 301px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  right: 242px;
  text-align: left;
  top: 190px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 1003px;
}

.index-17 .span0-aAaaRx {
}

.index-17 .span1-aAaaRx {
}

.index-17 .image-22-4LOxT5 {
  background-color: transparent;
  bottom: calc(26.95% - 179px);
  height: 666px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  width: 1000px;
}

.index-17 .gipexit-22-4LOxT5 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-17 .span0-5fYWmi {
}

.index-17 .span1-5fYWmi {
}

.index-17 .image-21-4LOxT5 {
  background-color: transparent;
  height: 325px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: calc(36.02% - 117px);
  width: 489px;
}

.index-17 .belggeboren-in-oosta-4LOxT5 {
  background-color: transparent;
  height: 80px;
  left: calc(34.21% - 92px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(32.64% - 26px);
  white-space: nowrap;
  width: 270px;
}

.index-17 .forest-prpare-in-met-4LOxT5 {
  background-color: transparent;
  bottom: 341px;
  height: 106px;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 253px;
}

.index-17 .image-23-4LOxT5 {
  background-color: transparent;
  height: 824px;
  object-fit: cover;
  position: absolute;
  right: calc(28.10% - 169px);
  top: 343px;
  width: 603px;
}

.index-17 .image-24-4LOxT5 {
  background-color: transparent;
  height: 379px;
  object-fit: cover;
  position: absolute;
  right: 67px;
  top: 343px;
  width: 284px;
}

.index-17 .inspiratie-4LOxT5 {
  background-color: transparent;
  height: 474px;
  left: 198px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 267px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-17 .jorisvandemoorteleubio-4LOxT5 {
  background-color: transparent;
  color: #707070;
  font-family: var(--font-family-menckenstd-regular);
  font-size: 2px;
  font-style: normal;
  font-weight: 400;
  height: 302px;
  left: calc(34.86% - 105px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(39.31% - 119px);
  width: 302px;
}
