/* screen - index-5 */

.index-5 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2386px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-5 .dsc01510-TfOMkl {
  background-color: transparent;
  cursor: pointer;
  height: 802px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: calc(43.06% - 345px);
  width: 1069px;
}

.index-5 .dsc_0052-TfOMkl {
  background-color: transparent;
  cursor: pointer;
  height: 1159px;
  object-fit: cover;
  position: absolute;
  right: -33px;
  top: calc(32.44% - 376px);
  width: 775px;
}

.index-5 .gipexit-22-TfOMkl {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 260px;
  text-align: left;
  top: 174px;
  white-space: nowrap;
  width: 95px;
}

.index-5 .span0-iYst88 {
}

.index-5 .span1-iYst88 {
}

.index-5 .opbo-TfOMkl {
  background-color: transparent;
  height: 538px;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 552px;
  white-space: nowrap;
  width: 687px;
}

.index-5 .proc-TfOMkl {
  background-color: transparent;
  bottom: calc(24.46% - 132px);
  height: 538px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  right: 47px;
  text-align: left;
  white-space: nowrap;
  width: 682px;
}
