/* screen - index */

.index {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index .gipexit-22-IO3Fu5 {
  background-color: transparent;
  bottom: calc(8.93% - 51px);
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-anton);
  font-size: 377px;
  font-weight: 400;
  height: 569px;
  left: calc(42.85% - 192px);
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 448px;
}

.index .span0-nCsaG9 {
  font-style: normal;
}

.index .span1-nCsaG9 {
  font-family: var(--font-family-menckenstd-regular);
  font-size: 60px;
  font-style: normal;
}

.index .hoe-voelt-het-om-in-IO3Fu5 {
  background-color: transparent;
  height: 381px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: 199px;
  text-align: left;
  top: calc(46.71% - 178px);
  width: 638px;
}

.index .derege-IO3Fu5 {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-anton);
  font-size: 122px;
  font-style: normal;
  font-weight: 400;
  height: 471px;
  letter-spacing: 0.00px;
  line-height: 143px;
  position: absolute;
  right: 133px;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: 190px;
}
