/* screen - index-7 */

.index-7 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1210px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-7 .gipexit-22-iITWGU {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 53px;
  text-align: left;
  top: 89px;
  transform: rotate(1.00deg);
  width: 134px;
}

.index-7 .span0-27vVZJ {
}

.index-7 .span1-27vVZJ {
}

.index-7 .dagboek-iITWGU {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(47.84% - 162px);
  text-align: left;
  top: calc(42.34% - 51px);
  width: 339px;
}

.index-7 .wie-ben-ik124zelfde-iITWGU {
  background-color: transparent;
  height: 527px;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 174px;
  white-space: nowrap;
  width: 299px;
}

.index-7 .span0-7hOuhP {
}

.index-7 .span1-7hOuhP {
}

.index-7 .wat-zijn-anderen124s-iITWGU {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 341px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(48.31% - 157px);
  text-align: left;
  top: 116px;
  white-space: nowrap;
  width: 324px;
}

.index-7 .span0-zUlngQ {
}

.index-7 .span1-zUlngQ {
}

.index-7 .span2-zUlngQ {
}

.index-7 .wat-denk-ik124verass-iITWGU {
  background-color: transparent;
  bottom: -53px;
  height: 496px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.14% - 146px);
  text-align: left;
  white-space: nowrap;
  width: 297px;
}

.index-7 .span0-DxsIgB {
}

.index-7 .span1-DxsIgB {
}

.index-7 .hoe-voel-ik-me124moe-iITWGU {
  background-color: transparent;
  bottom: calc(31.48% - 185px);
  height: 589px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 269px;
  text-align: left;
  white-space: nowrap;
  width: 296px;
}

.index-7 .span0-kCxwzk {
}

.index-7 .span1-kCxwzk {
}

.index-7 .wat-doe-ik124geen-id-iITWGU {
  background-color: transparent;
  bottom: -31px;
  height: 496px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 408px;
}

.index-7 .span0-Q1cxjm {
}

.index-7 .span1-Q1cxjm {
}
/* screen - index-8 */

.index-8 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3289px;
  min-width: 636px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-8 .wie-ben-ik124zelfde-SHb2kQ {
  background-color: transparent;
  height: 527px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 302px;
}

.index-8 .span0-JKTL6f {
}

.index-8 .span1-JKTL6f {
}

.index-8 .wat-doe-ik124geen-id-SHb2kQ {
  background-color: transparent;
  height: 496px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(22.52% - 112px);
  width: 410px;
}

.index-8 .span0-6bqsqY {
}

.index-8 .span1-6bqsqY {
}

.index-8 .wat-denk-ik124verass-SHb2kQ {
  background-color: transparent;
  height: 496px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(39.03% - 194px);
  width: 302px;
}

.index-8 .span0-7eyu8E {
}

.index-8 .span1-7eyu8E {
}

.index-8 .wat-zijn-anderen124s-SHb2kQ {
  background-color: transparent;
  bottom: calc(45.45% - 155px);
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 341px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: 337px;
}

.index-8 .span0-afjwcV {
}

.index-8 .span1-afjwcV {
}

.index-8 .span2-afjwcV {
}

.index-8 .hoe-voel-ik-me124moe-SHb2kQ {
  background-color: transparent;
  bottom: calc(27.00% - 159px);
  height: 589px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: 302px;
}

.index-8 .span0-BSabXt {
}

.index-8 .span1-BSabXt {
}

.index-8 .gipexit-22-SHb2kQ {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 45px;
  text-align: left;
  top: 87px;
  transform: rotate(1.00deg);
  width: 134px;
}

.index-8 .span0-FGWWPx {
}

.index-8 .span1-FGWWPx {
}
@media screen and (max-width: 1979px) {
  .screen.index-7 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.index-8 { 
    display: none;
   }
}