/* screen - index-18 */

.index-18 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1716px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-18 .image-26-I2WfCf {
  background-color: transparent;
  height: 221px;
  left: calc(41.34% - 153px);
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 369px;
}

.index-18 .gipexit-22-I2WfCf {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-18 .span0-mLbo6x {
}

.index-18 .span1-mLbo6x {
}

.index-18 .teching-hsieh-I2WfCf {
  background-color: transparent;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: calc(42.99% - 298px);
  text-align: left;
  top: 133px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 693px;
}

.index-18 .image-27-I2WfCf {
  background-color: transparent;
  bottom: calc(33.70% - 302px);
  height: 897px;
  object-fit: cover;
  position: absolute;
  right: 239px;
  width: 699px;
}

.index-18 .in-dit-werk-vertrekt-I2WfCf {
  background-color: transparent;
  bottom: 34px;
  height: 653px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.85% - 152px);
  text-align: left;
  white-space: nowrap;
  width: 305px;
}

.index-18 .tehching-hsieh-1950-I2WfCf {
  background-color: transparent;
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(44.17% - 98px);
  text-align: left;
  top: calc(22.67% - 24px);
  white-space: nowrap;
  width: 223px;
}

.index-18 .inspiratie-I2WfCf {
  background-color: transparent;
  height: 474px;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 260px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-18 .image-31-I2WfCf {
  background-color: transparent;
  bottom: calc(45.79% - 172px);
  height: 375px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  width: 549px;
}

.index-18 .one-year-performance-1978-1979-I2WfCf {
  background-color: transparent;
  bottom: calc(33.18% - 9px);
  height: 28px;
  left: 189px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 290px;
}
