/* screen - index-26 */

.index-26 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1716px;
  min-width: 877px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-26 .image-26-Udeh88 {
  background-color: transparent;
  height: 221px;
  left: calc(41.34% - 153px);
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 369px;
}

.index-26 .teching-hsieh-Udeh88 {
  background-color: transparent;
  height: 181px;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  text-align: left;
  top: 133px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 184px);
}

.index-26 .image-27-Udeh88 {
  background-color: transparent;
  bottom: calc(33.70% - 302px);
  height: 897px;
  object-fit: cover;
  position: absolute;
  right: -60px;
  width: 699px;
}

.index-26 .in-dit-werk-vertrekt-Udeh88 {
  background-color: transparent;
  bottom: 34px;
  height: 653px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.83% - 152px);
  text-align: left;
  white-space: nowrap;
  width: 305px;
}

.index-26 .tehching-hsieh-1950-Udeh88 {
  background-color: transparent;
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 64px;
  text-align: left;
  top: calc(17.95% - 19px);
  white-space: nowrap;
  width: 223px;
}

.index-26 .inspiratie-Udeh88 {
  background-color: transparent;
  height: 474px;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 260px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-26 .image-31-Udeh88 {
  background-color: transparent;
  height: 184px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: calc(41.84% - 77px);
  width: 270px;
}

.index-26 .one-year-performance-1978-1979-Udeh88 {
  background-color: transparent;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(49.47% - 14px);
  white-space: nowrap;
  width: 290px;
}

.index-26 .gipexit-22-Udeh88 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-26 .span0-bCjIgh {
}

.index-26 .span1-bCjIgh {
}
