/* screen - index-24 */

.index-24 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2421px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-24 .joris-van-de-moortel-2ZZTwx {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 75px;
  font-weight: 400;
  height: 189px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 160px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 72px);
}

.index-24 .span0-c3FdqG {
  font-style: normal;
}

.index-24 .span1-c3FdqG {
  font-size: 25px;
  font-style: normal;
}

.index-24 .image-22-2ZZTwx {
  background-color: transparent;
  bottom: calc(26.95% - 179px);
  height: 666px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 300px);
}

.index-24 .gipexit-22-2ZZTwx {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-24 .span0-FeUUaL {
}

.index-24 .span1-FeUUaL {
}

.index-24 .image-21-2ZZTwx {
  background-color: transparent;
  height: 325px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: calc(36.02% - 117px);
  width: 489px;
}

.index-24 .belggeboren-in-oosta-2ZZTwx {
  background-color: transparent;
  height: 83px;
  left: calc(34.42% - 93px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(33.85% - 28px);
  white-space: nowrap;
  width: 270px;
}

.index-24 .span0-AYU7vV {
}

.index-24 .span1-AYU7vV {
  color: var(--black);
  font-family: var(--font-family-menckenstd-regular);
  font-size: 2px;
  font-style: normal;
  font-weight: 400;
}

.index-24 .forest-prpare-in-met-2ZZTwx {
  background-color: transparent;
  bottom: 341px;
  height: 106px;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 253px;
}

.index-24 .image-23-2ZZTwx {
  background-color: transparent;
  height: 824px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 343px;
  width: calc(100.00% - 97px);
}

.index-24 .image-24-2ZZTwx {
  background-color: transparent;
  height: 379px;
  object-fit: cover;
  position: absolute;
  right: 67px;
  top: 343px;
  width: 284px;
}

.index-24 .inspiratie-2ZZTwx {
  background-color: transparent;
  height: 474px;
  left: 198px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 267px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}
