/* screen - index-20 */

.index-20 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1126px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-20 .kunstenaars-2QQFpl {
  background-color: transparent;
  height: 55.86%;
  left: 10.76%;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 20.00%;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 20.81%;
}

.index-20 .gipexit-22-2QQFpl {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-20 .span0-7XfJoL {
}

.index-20 .span1-7XfJoL {
}

.index-20 .thierry-de-cordier-2QQFpl {
  background-color: transparent;
  cursor: pointer;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 278px;
  text-align: left;
  top: 122px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 933px;
}

.index-20 .joep-van-liefland-2QQFpl {
  background-color: transparent;
  bottom: 5px;
  cursor: pointer;
  height: 360px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 124px;
  text-align: left;
  transform: rotate(-1.00deg);
  width: 863px;
}

.index-20 .teching-hsieh-2QQFpl {
  background-color: transparent;
  bottom: -123px;
  cursor: pointer;
  height: 539px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  text-align: left;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 693px;
}

.index-20 .joris-van-de-moortel-2QQFpl {
  background-color: transparent;
  bottom: calc(46.72% - 168px);
  cursor: pointer;
  height: 360px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 268px;
  text-align: left;
  transform: rotate(-1.00deg);
  width: 988px;
}
