/* screen - index-6 */

.index-6 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2187px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-6 .livestream-hmbN40 {
  background-color: transparent;
  bottom: calc(44.02% - 337px);
  height: 766px;
  letter-spacing: 0.00px;
  line-height: 149px;
  position: absolute;
  right: 284px;
  text-align: left;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 279px;
}

.index-6 .gipexit-22-hmbN40 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-6 .span0-6x3LH2 {
}

.index-6 .span1-6x3LH2 {
}

.index-6 .d4-hmbN40 {
  background-color: transparent;
  height: 904px;
  left: calc(24.90% - 90px);
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 362px;
}

.index-6 .d1-hmbN40 {
  background-color: transparent;
  height: 660px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 318px;
}

.index-6 .d2-hmbN40 {
  background-color: transparent;
  bottom: calc(41.75% - 226px);
  height: 542px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 362px;
}

.index-6 .d3-hmbN40 {
  background-color: transparent;
  bottom: -414px;
  height: 782px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}

.index-6 .d5-hmbN40 {
  background-color: transparent;
  height: 782px;
  left: calc(47.90% - 173px);
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 362px;
}

.index-6 .dagboek-hmbN40 {
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-anton);
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(47.84% - 162px);
  text-align: left;
  top: calc(41.24% - 49px);
  width: 339px;
}
/* screen - index-9 */

.index-9 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2187px;
  min-width: 636px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-9 .livestream-lVTDxM {
  background-color: transparent;
  bottom: calc(45.76% - 308px);
  height: 674px;
  letter-spacing: 0.00px;
  line-height: 149px;
  position: absolute;
  right: calc(33.74% - 67px);
  text-align: left;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 199px;
}

.index-9 .gipexit-22-lVTDxM {
  background-color: transparent;
  cursor: pointer;
  height: 137px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 54px;
  text-align: left;
  top: 100px;
  transform: rotate(1.00deg);
  width: 134px;
}

.index-9 .span0-N6WfJM {
}

.index-9 .span1-N6WfJM {
  color: var(--black);
  font-family: var(--font-family-menckenstd-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.index-9 .d4-lVTDxM {
  background-color: transparent;
  height: 593px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  right: -60px;
  text-align: left;
  top: calc(23.47% - 139px);
  width: 362px;
}

.index-9 .d1-lVTDxM {
  background-color: transparent;
  height: 349px;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 318px;
}

.index-9 .d2-lVTDxM {
  background-color: transparent;
  bottom: calc(48.01% - 260px);
  height: 542px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}

.index-9 .d3-lVTDxM {
  background-color: transparent;
  bottom: -73px;
  height: 471px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  width: 362px;
}

.index-9 .d5-lVTDxM {
  background-color: transparent;
  bottom: 132px;
  height: 471px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  right: -96px;
  text-align: left;
  width: 362px;
}

.index-9 .dagboek-lVTDxM {
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-anton);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: 77px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(40.40% - 137px);
  text-align: left;
  top: calc(33.96% - 26px);
  width: 339px;
}
@media screen and (max-width: 1979px) {
  .screen.index-6 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.index-9 { 
    display: none;
   }
}