/* screen - index-16 */

.index-16 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2353px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-16 .image-17-55ey1D {
  background-color: transparent;
  height: 714px;
  left: calc(33.11% - 355px);
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 1071px;
}

.index-16 .gipexit-22-55ey1D {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-16 .span0-itoBs8 {
}

.index-16 .span1-itoBs8 {
}

.index-16 .joep-van-liefland-55ey1D {
  background-color: transparent;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: calc(34.32% - 296px);
  text-align: left;
  top: 132px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 863px;
}

.index-16 .image-18-55ey1D {
  background-color: transparent;
  bottom: calc(44.67% - 292px);
  height: 654px;
  object-fit: cover;
  position: absolute;
  right: 131px;
  width: 980px;
}

.index-16 .image-19-55ey1D {
  background-color: transparent;
  bottom: calc(21.10% - 134px);
  height: 633px;
  left: 257px;
  object-fit: cover;
  position: absolute;
  width: 950px;
}

.index-16 .image-20-55ey1D {
  background-color: transparent;
  height: 339px;
  left: 242px;
  object-fit: cover;
  position: absolute;
  top: calc(47.37% - 161px);
  width: 277px;
}

.index-16 .hij-is-een-hedendaag-55ey1D {
  background-color: transparent;
  height: 210px;
  left: calc(32.08% - 98px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.64% - 96px);
  white-space: nowrap;
  width: 306px;
}

.index-16 .span0-xgKjvM {
}

.index-16 .span1-xgKjvM {
}

.index-16 .inspiratie-55ey1D {
  background-color: transparent;
  height: 474px;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 230px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-16 .brongooglecom-55ey1D {
  background-color: transparent;
  height: 5px;
  left: calc(32.12% - 97px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(49.49% - 2px);
  width: 302px;
}
