/* screen - index-25 */

.index-25 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1553px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-25 .image-28-OdcDpi {
  background-color: transparent;
  height: 1017px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: calc(100.00% - 10px);
}

.index-25 .thierry-de-cordier-OdcDpi {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 84px;
  font-style: normal;
  font-weight: 400;
  height: 129px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 84px;
  position: absolute;
  text-align: left;
  top: 123px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 41px);
}

.index-25 .scriptorium-meerdere-versies-OdcDpi {
  background-color: transparent;
  bottom: calc(44.80% - 29px);
  height: 64px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.15% - 91px);
  text-align: left;
  white-space: nowrap;
  width: 259px;
}

.index-25 .thierry-de-cordier-o-OdcDpi {
  background-color: transparent;
  bottom: calc(46.16% - 73px);
  height: 158px;
  left: calc(36.29% - 127px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 350px;
}

.index-25 .image-29-OdcDpi {
  background-color: transparent;
  bottom: calc(41.33% - 127px);
  height: 307px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  width: 203px;
}

.index-25 .in-dit-werk-sluit-th-OdcDpi {
  background-color: transparent;
  bottom: calc(40.98% - 43px);
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 66px;
  text-align: left;
  white-space: nowrap;
  width: 453px;
}

.index-25 .image-30-OdcDpi {
  background-color: transparent;
  bottom: 126px;
  height: 405px;
  left: calc(35.04% - 108px);
  object-fit: cover;
  position: absolute;
  width: 309px;
}

.index-25 .inspiratie-OdcDpi {
  background-color: transparent;
  height: 474px;
  left: 211px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 188px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-25 .bron-googlecom-OdcDpi {
  background-color: transparent;
  bottom: calc(42.83% - 2px);
  height: 5px;
  left: calc(35.18% - 106px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  width: 302px;
}

.index-25 .gipexit-22-OdcDpi {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 54px;
  text-align: left;
  top: 49px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-25 .span0-0fJBam {
}

.index-25 .span1-0fJBam {
}
