/* screen - index-23 */

.index-23 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2353px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-23 .image-17-bePxtI {
  background-color: transparent;
  height: 714px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: calc(100.00% + 371px);
}

.index-23 .joep-van-liefland-bePxtI {
  background-color: transparent;
  height: 116px;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 76px;
  position: absolute;
  text-align: left;
  top: 124px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 148px);
}

.index-23 .gipexit-22-bePxtI {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.index-23 .span0-j6ar8Q {
}

.index-23 .span1-j6ar8Q {
}

.index-23 .image-18-bePxtI {
  background-color: transparent;
  bottom: calc(44.67% - 292px);
  height: 654px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 280px);
}

.index-23 .image-19-bePxtI {
  background-color: transparent;
  bottom: calc(21.10% - 134px);
  height: 633px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 250px);
}

.index-23 .image-20-bePxtI {
  background-color: transparent;
  height: 339px;
  left: calc(33.10% - 92px);
  object-fit: cover;
  position: absolute;
  top: calc(47.37% - 161px);
  width: 277px;
}

.index-23 .hij-is-een-hedendaag-bePxtI {
  background-color: transparent;
  height: 210px;
  left: calc(32.23% - 99px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.64% - 96px);
  white-space: nowrap;
  width: 306px;
}

.index-23 .span0-rOhR4U {
}

.index-23 .span1-rOhR4U {
}

.index-23 .inspiratie-bePxtI {
  background-color: transparent;
  height: 474px;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 230px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.index-23 .brongooglecom-bePxtI {
  background-color: transparent;
  height: 5px;
  left: calc(32.41% - 98px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(49.49% - 2px);
  width: 302px;
}
