/* screen - inspiratie */

.inspiratie {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1126px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.inspiratie .kunstenaars-S5YOjQ {
  background-color: transparent;
  height: 55.86%;
  left: 10.76%;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 20.00%;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 20.81%;
}

.inspiratie .gipexit-22-S5YOjQ {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.inspiratie .span0-Pz101R {
}

.inspiratie .span1-Pz101R {
}

.inspiratie .thierry-de-cordier-S5YOjQ {
  background-color: transparent;
  cursor: pointer;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 278px;
  text-align: left;
  top: 122px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 933px;
}

.inspiratie .joep-van-liefland-S5YOjQ {
  background-color: transparent;
  bottom: 5px;
  cursor: pointer;
  height: 360px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 124px;
  text-align: left;
  transform: rotate(-1.00deg);
  width: 863px;
}

.inspiratie .teching-hsieh-S5YOjQ {
  background-color: transparent;
  bottom: -123px;
  cursor: pointer;
  height: 539px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  text-align: left;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 693px;
}

.inspiratie .joris-van-de-moortel-S5YOjQ {
  background-color: transparent;
  bottom: calc(46.72% - 168px);
  cursor: pointer;
  height: 360px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: 268px;
  text-align: left;
  transform: rotate(-1.00deg);
  width: 988px;
}
/* screen - inspiratie-1 */

.inspiratie-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1126px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.inspiratie-1 .kunstenaars-Lglaux {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 1px;
  font-style: normal;
  font-weight: 400;
  height: 0.53%;
  left: 61.14%;
  letter-spacing: 0.00px;
  line-height: 1px;
  position: absolute;
  text-align: left;
  top: 17.41%;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 0.57%;
}

.inspiratie-1 .gipexit-22-Lglaux {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: 32px;
  font-weight: 400;
  height: 63px;
  left: calc(41.76% - 19px);
  letter-spacing: 0.00px;
  line-height: 9px;
  position: absolute;
  text-align: left;
  top: 179px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 45px;
}

.inspiratie-1 .span0-MGm2ha {
  font-style: normal;
}

.inspiratie-1 .span1-MGm2ha {
  font-family: var(--font-family-menckenstd-regular);
  font-size: 22px;
  font-style: normal;
}

.inspiratie-1 .thierry-de-cordier-Lglaux {
  background-color: transparent;
  height: 53px;
  left: calc(33.12% - 89px);
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: calc(21.28% - 11px);
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 268px;
}

.inspiratie-1 .joep-van-liefland-Lglaux {
  background-color: transparent;
  bottom: calc(38.05% - 81px);
  height: 212px;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  transform: rotate(-1.00deg);
  width: calc(100.00% + 416px);
}

.inspiratie-1 .teching-hsieh-Lglaux {
  background-color: transparent;
  height: 155px;
  left: calc(35.43% - 71px);
  letter-spacing: 0.00px;
  line-height: 34px;
  position: absolute;
  text-align: left;
  top: calc(40.67% - 63px);
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 200px;
}

.inspiratie-1 .joris-van-de-moortel-Lglaux {
  background-color: transparent;
  height: 206px;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 70px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(31.47% - 65px);
  transform: rotate(-1.00deg);
  width: calc(100.00% + 481px);
}

.inspiratie-1 .gipexit-22-WvRH5p {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 82px;
  text-align: left;
  top: 85px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.inspiratie-1 .span0-xtxy8Y {
}

.inspiratie-1 .span1-xtxy8Y {
}
@media screen and (max-width: 1979px) {
  .screen.inspiratie { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.inspiratie-1 { 
    display: none;
   }
}