/* screen - joep */

.joep {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2353px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.joep .image-17-Tb2MZV {
  background-color: transparent;
  height: 714px;
  left: calc(33.11% - 355px);
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 1071px;
}

.joep .gipexit-22-Tb2MZV {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.joep .span0-7r3D6C {
}

.joep .span1-7r3D6C {
}

.joep .joep-van-liefland-Tb2MZV {
  background-color: transparent;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: calc(34.32% - 296px);
  text-align: left;
  top: 132px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 863px;
}

.joep .image-18-Tb2MZV {
  background-color: transparent;
  bottom: calc(44.67% - 292px);
  height: 654px;
  object-fit: cover;
  position: absolute;
  right: 131px;
  width: 980px;
}

.joep .image-19-Tb2MZV {
  background-color: transparent;
  bottom: calc(21.10% - 134px);
  height: 633px;
  left: 257px;
  object-fit: cover;
  position: absolute;
  width: 950px;
}

.joep .image-20-Tb2MZV {
  background-color: transparent;
  height: 339px;
  left: 242px;
  object-fit: cover;
  position: absolute;
  top: calc(47.37% - 161px);
  width: 277px;
}

.joep .hij-is-een-hedendaag-Tb2MZV {
  background-color: transparent;
  height: 210px;
  left: calc(32.08% - 98px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.64% - 96px);
  white-space: nowrap;
  width: 306px;
}

.joep .span0-O6MjvC {
}

.joep .span1-O6MjvC {
}

.joep .inspiratie-Tb2MZV {
  background-color: transparent;
  height: 474px;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 230px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.joep .brongooglecom-Tb2MZV {
  background-color: transparent;
  height: 5px;
  left: calc(32.12% - 97px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(49.49% - 2px);
  width: 302px;
}
/* screen - joep-1 */

.joep-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2353px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.joep-1 .image-17-ysXhfx {
  background-color: transparent;
  height: 714px;
  left: -22px;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: calc(100.00% + 371px);
}

.joep-1 .joep-van-liefland-ysXhfx {
  background-color: transparent;
  height: 116px;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 76px;
  position: absolute;
  text-align: left;
  top: 124px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 148px);
}

.joep-1 .gipexit-22-ysXhfx {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.joep-1 .span0-jnuWNK {
}

.joep-1 .span1-jnuWNK {
}

.joep-1 .image-18-ysXhfx {
  background-color: transparent;
  bottom: calc(44.67% - 292px);
  height: 654px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 280px);
}

.joep-1 .image-19-ysXhfx {
  background-color: transparent;
  bottom: calc(21.10% - 134px);
  height: 633px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 250px);
}

.joep-1 .image-20-ysXhfx {
  background-color: transparent;
  height: 339px;
  left: calc(33.10% - 92px);
  object-fit: cover;
  position: absolute;
  top: calc(47.37% - 161px);
  width: 277px;
}

.joep-1 .hij-is-een-hedendaag-ysXhfx {
  background-color: transparent;
  height: 210px;
  left: calc(32.23% - 99px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.64% - 96px);
  white-space: nowrap;
  width: 306px;
}

.joep-1 .span0-Zjxp3x {
}

.joep-1 .span1-Zjxp3x {
}

.joep-1 .inspiratie-ysXhfx {
  background-color: transparent;
  height: 474px;
  left: 166px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 230px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.joep-1 .brongooglecom-ysXhfx {
  background-color: transparent;
  height: 5px;
  left: calc(32.41% - 98px);
  letter-spacing: 0.00px;
  line-height: 2px;
  position: absolute;
  text-align: left;
  top: calc(49.49% - 2px);
  width: 302px;
}
@media screen and (max-width: 1979px) {
  .screen.joep { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.joep-1 { 
    display: none;
   }
}