/* screen - ontvang-1 */

.ontvang-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 512px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ontvang-1 .derege-KwIPKc {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-anton);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  height: 239px;
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  right: 65px;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: 95px;
}

.ontvang-1 .gipexit-22-KwIPKc {
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-anton);
  font-size: 161px;
  font-weight: 400;
  height: 244px;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 182px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 193px;
}

.ontvang-1 .span0-O3txRX {
  font-style: normal;
}

.ontvang-1 .span1-O3txRX {
  font-family: var(--font-family-menckenstd-regular);
  font-size: 26px;
  font-style: normal;
}

.ontvang-1 .hoe-voelt-het-om-in-KwIPKc {
  background-color: transparent;
  bottom: 142px;
  color: var(--black);
  font-family: var(--font-family-anton);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 656px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(43.76% - 121px);
  text-align: left;
  width: 276px;
}
