/* screen - ontvang */

.ontvang {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 512px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ontvang .enter-uW0leT {
  background-color: transparent;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: 143px;
  position: absolute;
  right: calc(36.15% - 102px);
  text-align: left;
  top: calc(42.32% - 22px);
  white-space: nowrap;
  width: 281px;
}
