/* screen - p1 */

.p1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p1 .schermafbeelding-2022-04-29-182411-UIxAIZ {
  background-color: transparent;
  height: 338px;
  left: calc(22.63% - 136px);
  object-fit: cover;
  position: absolute;
  top: calc(43.43% - 147px);
  width: 601px;
}

.p1 .schermafbeelding-2022-04-29-182524-UIxAIZ {
  background-color: transparent;
  height: 338px;
  object-fit: cover;
  position: absolute;
  right: calc(22.55% - 136px);
  top: calc(43.43% - 147px);
  width: 601px;
}

.p1 .gipexit-22-UIxAIZ {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p1 .span0-kLzbzt {
}

.p1 .span1-kLzbzt {
}

.p1 .p1-UIxAIZ {
  background-color: transparent;
  height: 660px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: 322px;
}
/* screen - p1-1 */

.p1-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p1-1 .schermafbeelding-2022-04-29-182411-mhdbI4 {
  background-color: transparent;
  height: 338px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: calc(43.43% - 147px);
  width: calc(100.00% - 99px);
}

.p1-1 .schermafbeelding-2022-04-29-182524-mhdbI4 {
  background-color: transparent;
  height: 338px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: calc(43.43% - 147px);
  width: calc(100.00% - 99px);
}

.p1-1 .gipexit-22-mhdbI4 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p1-1 .span0-EvAm5o {
}

.p1-1 .span1-EvAm5o {
}

.p1-1 .p1-mhdbI4 {
  background-color: transparent;
  height: 660px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: 322px;
}
@media screen and (max-width: 1979px) {
  .screen.p1 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.p1-1 { 
    display: none;
   }
}