/* screen - p2 */

.p2 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p2 .screenshot-2022-04-30-212733-CYMZJL {
  background-color: transparent;
  height: 280px;
  object-fit: cover;
  position: absolute;
  right: calc(24.02% - 120px);
  top: calc(29.35% - 82px);
  width: 498px;
}

.p2 .image-11-CYMZJL {
  background-color: transparent;
  bottom: 157px;
  height: 457px;
  left: calc(26.58% - 228px);
  object-fit: cover;
  position: absolute;
  width: 859px;
}

.p2 .gipexit-22-CYMZJL {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p2 .span0-scY6Bx {
}

.p2 .span1-scY6Bx {
}

.p2 .p2-CYMZJL {
  background-color: transparent;
  height: 660px;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 93px;
  width: 366px;
}
/* screen - p2-1 */

.p2-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p2-1 .screenshot-2022-04-30-212733-95tv5W {
  background-color: transparent;
  height: 280px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: calc(29.35% - 82px);
  width: 498px;
}

.p2-1 .image-11-95tv5W {
  background-color: transparent;
  bottom: calc(29.70% - 93px);
  height: 313px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 112px);
}

.p2-1 .gipexit-22-95tv5W {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(18.16% - 17px);
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p2-1 .span0-fEZ1xz {
}

.p2-1 .span1-fEZ1xz {
}

.p2-1 .p2-95tv5W {
  background-color: transparent;
  height: 660px;
  left: calc(38.40% - 141px);
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 93px;
  width: 366px;
}
@media screen and (max-width: 1979px) {
  .screen.p2 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.p2-1 { 
    display: none;
   }
}