/* screen - p4-1 */

.p4-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 592px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p4-1 .image-13-b27x0O {
  background-color: transparent;
  bottom: -55px;
  height: 356px;
  object-fit: cover;
  position: absolute;
  right: calc(41.20% - 148px);
  width: 359px;
}

.p4-1 .dsc_0052-b27x0O {
  background-color: transparent;
  height: 236px;
  left: calc(40.59% - 143px);
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4-1 .dsc_0053-b27x0O {
  background-color: transparent;
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: 73px;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4-1 .dsc_0054-b27x0O {
  background-color: transparent;
  height: 236px;
  left: calc(47.70% - 168px);
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4-1 .dsc_0055-b27x0O {
  background-color: transparent;
  height: 236px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4-1 .dsc_0056-b27x0O {
  background-color: transparent;
  height: 236px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4-1 .dsc_0051-b27x0O {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0045-b27x0O {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0046-b27x0O {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: calc(40.59% - 143px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0047-b27x0O {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: 73px;
  width: 353px;
}

.p4-1 .dsc_0048-b27x0O {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: calc(47.70% - 168px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0049-b27x0O {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0043-b27x0O {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: calc(47.70% - 168px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0044-b27x0O {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4-1 .dsc_0042-b27x0O {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: 73px;
  width: 353px;
}

.p4-1 .gipexit-22-b27x0O {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(18.61% - 18px);
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p4-1 .span0-PfOueh {
}

.p4-1 .span1-PfOueh {
}

.p4-1 .p4-b27x0O {
  background-color: transparent;
  height: 782px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 150px;
  width: 362px;
}
