/* screen - p4 */

.p4 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p4 .image-13-OkIXab {
  background-color: transparent;
  bottom: -55px;
  height: 356px;
  object-fit: cover;
  position: absolute;
  right: 96px;
  width: 359px;
}

.p4 .dsc_0052-OkIXab {
  background-color: transparent;
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: 142px;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4 .dsc_0053-OkIXab {
  background-color: transparent;
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: calc(30.55% - 108px);
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4 .dsc_0054-OkIXab {
  background-color: transparent;
  height: 236px;
  left: calc(47.57% - 168px);
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4 .dsc_0055-OkIXab {
  background-color: transparent;
  height: 236px;
  left: calc(25.75% - 91px);
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4 .dsc_0056-OkIXab {
  background-color: transparent;
  height: 236px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: calc(36.67% - 87px);
  width: 353px;
}

.p4 .dsc_0051-OkIXab {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0045-OkIXab {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0046-OkIXab {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: 142px;
  width: 353px;
}

.p4 .dsc_0047-OkIXab {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: calc(30.55% - 108px);
  width: 353px;
}

.p4 .dsc_0048-OkIXab {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: calc(47.57% - 168px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0049-OkIXab {
  background-color: transparent;
  bottom: calc(35.50% - 84px);
  height: 236px;
  left: calc(25.75% - 91px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0043-OkIXab {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: calc(47.51% - 168px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0044-OkIXab {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  left: calc(25.69% - 91px);
  object-fit: cover;
  position: absolute;
  width: 353px;
}

.p4 .dsc_0042-OkIXab {
  background-color: transparent;
  bottom: 65px;
  height: 236px;
  object-fit: cover;
  position: absolute;
  right: calc(30.61% - 108px);
  width: 353px;
}

.p4 .gipexit-22-OkIXab {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p4 .span0-ickLt4 {
}

.p4 .span1-ickLt4 {
}

.p4 .p4-OkIXab {
  background-color: transparent;
  height: 782px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 150px;
  width: 362px;
}
