/* screen - p7-1 */

.p7-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2122px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p7-1 .p7-tc9XU3 {
  background-color: transparent;
  height: 782px;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 134px;
  width: 362px;
}

.p7-1 .dsc_0051-tc9XU3 {
  background-color: transparent;
  bottom: calc(39.27% - 125px);
  height: 319px;
  object-fit: cover;
  position: absolute;
  right: 99px;
  width: 477px;
}

.p7-1 .dsc_0052-tc9XU3 {
  background-color: transparent;
  bottom: calc(39.27% - 125px);
  height: 319px;
  object-fit: cover;
  position: absolute;
  right: calc(47.53% - 227px);
  width: 477px;
}

.p7-1 .dsc_0055-tc9XU3 {
  background-color: transparent;
  bottom: calc(21.89% - 35px);
  height: 158px;
  object-fit: cover;
  position: absolute;
  right: 91px;
  width: 237px;
}

.p7-1 .dsc_0050-tc9XU3 {
  background-color: transparent;
  bottom: calc(37.22% - 148px);
  height: 397px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 105px);
}

.p7-1 .dsc_0043-tc9XU3 {
  background-color: transparent;
  height: 439px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: calc(24.48% - 107px);
  width: calc(100.00% - 41px);
}

.p7-1 .dsc_0044-tc9XU3 {
  background-color: transparent;
  height: 159px;
  object-fit: cover;
  position: absolute;
  right: 92px;
  top: calc(20.99% - 33px);
  width: 238px;
}

.p7-1 .dsc_0045-tc9XU3 {
  background-color: transparent;
  height: 159px;
  object-fit: cover;
  position: absolute;
  right: calc(22.94% - 55px);
  top: calc(20.99% - 33px);
  width: 238px;
}

.p7-1 .dsc_0048-tc9XU3 {
  background-color: transparent;
  height: 160px;
  object-fit: cover;
  position: absolute;
  right: 91px;
  top: calc(35.22% - 56px);
  width: 239px;
}

.p7-1 .dsc_0057-tc9XU3 {
  background-color: transparent;
  height: 182px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: calc(21.24% - 39px);
  width: 273px;
}

.p7-1 .dsc_0049-tc9XU3 {
  background-color: transparent;
  height: 238px;
  object-fit: cover;
  position: absolute;
  right: calc(19.78% - 31px);
  top: calc(32.48% - 77px);
  width: 159px;
}

.p7-1 .gipexit-22-tc9XU3 {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p7-1 .span0-h2GvPT {
}

.p7-1 .span1-h2GvPT {
}
