/* screen - p7 */

.p7 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2122px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.p7 .p7-7291Ab {
  background-color: transparent;
  height: 782px;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 134px;
  width: 362px;
}

.p7 .dsc_0051-7291Ab {
  background-color: transparent;
  bottom: calc(39.27% - 125px);
  height: 319px;
  object-fit: cover;
  position: absolute;
  right: calc(44.38% - 212px);
  width: 477px;
}

.p7 .dsc_0052-7291Ab {
  background-color: transparent;
  bottom: calc(39.27% - 125px);
  height: 319px;
  object-fit: cover;
  position: absolute;
  right: 106px;
  width: 477px;
}

.p7 .dsc_0055-7291Ab {
  background-color: transparent;
  bottom: calc(21.89% - 35px);
  height: 158px;
  object-fit: cover;
  position: absolute;
  right: calc(19.74% - 47px);
  width: 237px;
}

.p7 .dsc_0050-7291Ab {
  background-color: transparent;
  bottom: calc(37.22% - 148px);
  height: 397px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  width: 595px;
}

.p7 .dsc_0043-7291Ab {
  background-color: transparent;
  height: 439px;
  left: calc(49.51% - 326px);
  object-fit: cover;
  position: absolute;
  top: calc(24.48% - 107px);
  width: 659px;
}

.p7 .dsc_0044-7291Ab {
  background-color: transparent;
  height: 159px;
  object-fit: cover;
  position: absolute;
  right: calc(19.86% - 47px);
  top: calc(20.99% - 33px);
  width: 238px;
}

.p7 .dsc_0045-7291Ab {
  background-color: transparent;
  height: 159px;
  object-fit: cover;
  position: absolute;
  right: 106px;
  top: calc(20.99% - 33px);
  width: 238px;
}

.p7 .dsc_0048-7291Ab {
  background-color: transparent;
  height: 160px;
  object-fit: cover;
  position: absolute;
  right: calc(19.76% - 47px);
  top: calc(35.22% - 56px);
  width: 239px;
}

.p7 .dsc_0057-7291Ab {
  background-color: transparent;
  height: 182px;
  left: calc(20.86% - 57px);
  object-fit: cover;
  position: absolute;
  top: calc(21.24% - 39px);
  width: 273px;
}

.p7 .dsc_0049-7291Ab {
  background-color: transparent;
  height: 238px;
  object-fit: cover;
  position: absolute;
  right: 107px;
  top: calc(32.48% - 77px);
  width: 159px;
}

.p7 .gipexit-22-7291Ab {
  background-color: transparent;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.p7 .span0-sCKOmX {
}

.p7 .span1-sCKOmX {
}
