/* screen - procces */

.procces {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2386px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.procces .dsc01510-JgiqCl {
  background-color: transparent;
  cursor: pointer;
  height: 802px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: calc(43.06% - 345px);
  width: 1069px;
}

.procces .dsc_0052-JgiqCl {
  background-color: transparent;
  cursor: pointer;
  height: 1159px;
  object-fit: cover;
  position: absolute;
  right: -33px;
  top: calc(32.44% - 376px);
  width: 775px;
}

.procces .gipexit-22-JgiqCl {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 260px;
  text-align: left;
  top: 174px;
  white-space: nowrap;
  width: 95px;
}

.procces .span0-P7Bcnh {
}

.procces .span1-P7Bcnh {
}

.procces .opbo-JgiqCl {
  background-color: transparent;
  height: 538px;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 552px;
  white-space: nowrap;
  width: 687px;
}

.procces .proc-JgiqCl {
  background-color: transparent;
  bottom: calc(24.46% - 132px);
  height: 538px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  right: 47px;
  text-align: left;
  white-space: nowrap;
  width: 682px;
}
/* screen - procces-1 */

.procces-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1080px;
  min-width: 512px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.procces-1 .dsc_0052-x25nG6 {
  background-color: transparent;
  bottom: 137px;
  cursor: pointer;
  height: 403px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  width: 270px;
}

.procces-1 .proc-x25nG6 {
  background-color: transparent;
  bottom: calc(31.26% - 59px);
  height: 189px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  right: 64px;
  text-align: left;
  white-space: nowrap;
  width: 239px;
}

.procces-1 .dsc01510-x25nG6 {
  background-color: transparent;
  cursor: pointer;
  height: 280px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: calc(22.00% - 62px);
  width: 373px;
}

.procces-1 .opbo-x25nG6 {
  background-color: transparent;
  height: 189px;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 138px;
  white-space: nowrap;
  width: 240px;
}
@media screen and (max-width: 1979px) {
  .screen.procces { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.procces-1 { 
    display: none;
   }
}