/* screen - s10 */

.s10 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.s10 .dsc_0043-kWAxFx {
  background-color: transparent;
  height: 112px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .dsc_0044-kWAxFx {
  background-color: transparent;
  height: 112px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10 .dsc_0045-kWAxFx {
  background-color: transparent;
  height: 112px;
  left: calc(21.96% - 37px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .dsc_0046-kWAxFx {
  background-color: transparent;
  height: 112px;
  left: calc(31.31% - 53px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10 .dsc_0047-kWAxFx {
  background-color: transparent;
  height: 112px;
  left: calc(40.67% - 68px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .dsc_0048-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(49.97% - 84px);
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10 .dsc_0049-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(40.62% - 68px);
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .dsc_0050-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(31.25% - 53px);
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10 .dsc_0051-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(21.91% - 37px);
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .dsc_0052-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: 227px;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10 .dsc_0053-kWAxFx {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: 58px;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10 .gipexit-22-kWAxFx {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.s10 .span0-dco9hI {
}

.s10 .span1-dco9hI {
}

.s10 .d10-kWAxFx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 660px;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 502px;
}
/* screen - s10-1 */

.s10-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1084px;
  min-width: 700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.s10-1 .d10-m2jxrj {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: 660px;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 207px;
  white-space: nowrap;
  width: 471px;
}

.s10-1 .dsc_0043-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .dsc_0044-m2jxrj {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(42.42% - 72px);
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10-1 .dsc_0045-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: calc(21.91% - 37px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .dsc_0046-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: calc(31.31% - 53px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10-1 .dsc_0047-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: calc(40.55% - 68px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .dsc_0048-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: calc(50.00% - 84px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10-1 .dsc_0049-m2jxrj {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(40.55% - 68px);
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .dsc_0050-m2jxrj {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(31.31% - 53px);
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10-1 .dsc_0051-m2jxrj {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: calc(21.91% - 37px);
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .dsc_0052-m2jxrj {
  background-color: transparent;
  height: 112px;
  left: calc(42.68% - 72px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 56px);
  width: 169px;
}

.s10-1 .dsc_0053-m2jxrj {
  background-color: transparent;
  height: 112px;
  object-fit: cover;
  position: absolute;
  right: 58px;
  top: calc(50.00% - 56px);
  width: 168px;
}

.s10-1 .gipexit-22-m2jxrj {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 57px;
  text-align: left;
  top: 92px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.s10-1 .span0-bJeR8u {
}

.s10-1 .span1-bJeR8u {
}
@media screen and (max-width: 1979px) {
  .screen.s10 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.s10-1 { 
    display: none;
   }
}