/* screen - s9 */

.s9 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 3195px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.s9 .dsc_0043-vM6nCM {
  background-color: transparent;
  height: 261px;
  object-fit: cover;
  position: absolute;
  right: calc(25.03% - 98px);
  top: 207px;
  width: 390px;
}

.s9 .dsc01562-vM6nCM {
  background-color: transparent;
  height: 260px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: calc(20.51% - 53px);
  width: 347px;
}

.s9 .dsc01564-vM6nCM {
  background-color: transparent;
  bottom: calc(26.30% - 112px);
  height: 427px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  width: 321px;
}

.s9 .dsc01565-vM6nCM {
  background-color: transparent;
  height: 261px;
  left: calc(45.10% - 157px);
  object-fit: cover;
  position: absolute;
  top: calc(21.13% - 55px);
  width: 348px;
}

.s9 .dsc01566-vM6nCM {
  background-color: transparent;
  height: 405px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: calc(36.71% - 149px);
  width: 304px;
}

.s9 .dsc01567-vM6nCM {
  background-color: transparent;
  height: 262px;
  object-fit: cover;
  position: absolute;
  right: calc(24.40% - 85px);
  top: calc(21.14% - 55px);
  width: 349px;
}

.s9 .dsc01568-vM6nCM {
  background-color: transparent;
  height: 304px;
  left: calc(40.96% - 166px);
  object-fit: cover;
  position: absolute;
  top: calc(35.42% - 108px);
  width: 405px;
}

.s9 .dsc01569-vM6nCM {
  background-color: transparent;
  bottom: calc(47.08% - 143px);
  height: 304px;
  left: calc(40.95% - 166px);
  object-fit: cover;
  position: absolute;
  width: 405px;
}

.s9 .dsc01570-vM6nCM {
  background-color: transparent;
  bottom: calc(47.13% - 144px);
  height: 305px;
  object-fit: cover;
  position: absolute;
  right: calc(24.48% - 100px);
  width: 407px;
}

.s9 .dsc01571-vM6nCM {
  background-color: transparent;
  height: 304px;
  object-fit: cover;
  position: absolute;
  right: calc(24.55% - 99px);
  top: calc(35.42% - 108px);
  width: 405px;
}

.s9 .dsc01572-vM6nCM {
  background-color: transparent;
  bottom: calc(31.71% - 105px);
  height: 332px;
  left: calc(41.94% - 185px);
  object-fit: cover;
  position: absolute;
  width: 442px;
}

.s9 .dsc_0041_-moment-vM6nCM {
  background-color: transparent;
  height: 262px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 466px;
}

.s9 .dsc_0042-vM6nCM {
  background-color: transparent;
  height: 261px;
  left: calc(46.26% - 181px);
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 391px;
}

.s9 .dsc01573-vM6nCM {
  background-color: transparent;
  bottom: calc(31.79% - 105px);
  height: 329px;
  object-fit: cover;
  position: absolute;
  right: calc(22.86% - 101px);
  width: 440px;
}

.s9 .dsc01575-vM6nCM {
  background-color: transparent;
  bottom: calc(45.10% - 184px);
  height: 408px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  width: 306px;
}

.s9 .gipexit-22-vM6nCM {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.s9 .span0-TjWVRT {
}

.s9 .span1-TjWVRT {
}

.s9 .d9-vM6nCM {
  background-color: transparent;
  height: 660px;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  text-align: left;
  top: 83px;
  width: 502px;
}
/* screen - s9-1 */

.s9-1 {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 3195px;
  min-width: 689px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.s9-1 .d9-xIjSdS {
  background-color: transparent;
  height: 660px;
  letter-spacing: 0.00px;
  line-height: 122px;
  position: absolute;
  right: 81px;
  text-align: left;
  top: 83px;
  width: 502px;
}

.s9-1 .dsc_0043-xIjSdS {
  background-color: transparent;
  height: 261px;
  object-fit: cover;
  position: absolute;
  right: 75px;
  top: 207px;
  width: 390px;
}

.s9-1 .dsc01562-xIjSdS {
  background-color: transparent;
  height: 260px;
  object-fit: cover;
  position: absolute;
  right: calc(40.64% - 141px);
  top: calc(20.51% - 53px);
  width: 347px;
}

.s9-1 .dsc01564-xIjSdS {
  background-color: transparent;
  bottom: calc(26.30% - 112px);
  height: 427px;
  object-fit: cover;
  position: absolute;
  right: calc(44.84% - 144px);
  width: 321px;
}

.s9-1 .dsc01565-xIjSdS {
  background-color: transparent;
  height: 261px;
  left: calc(45.16% - 157px);
  object-fit: cover;
  position: absolute;
  top: calc(21.13% - 55px);
  width: 348px;
}

.s9-1 .dsc01566-xIjSdS {
  background-color: transparent;
  height: 405px;
  object-fit: cover;
  position: absolute;
  right: calc(47.28% - 144px);
  top: calc(36.71% - 149px);
  width: 304px;
}

.s9-1 .dsc01567-xIjSdS {
  background-color: transparent;
  height: 262px;
  object-fit: cover;
  position: absolute;
  right: 83px;
  top: calc(21.14% - 55px);
  width: 349px;
}

.s9-1 .dsc01568-xIjSdS {
  background-color: transparent;
  height: 304px;
  left: calc(40.96% - 166px);
  object-fit: cover;
  position: absolute;
  top: calc(35.42% - 108px);
  width: 405px;
}

.s9-1 .dsc01569-xIjSdS {
  background-color: transparent;
  bottom: calc(47.08% - 143px);
  height: 304px;
  left: calc(40.85% - 165px);
  object-fit: cover;
  position: absolute;
  width: 405px;
}

.s9-1 .dsc01570-xIjSdS {
  background-color: transparent;
  bottom: calc(47.13% - 144px);
  height: 305px;
  object-fit: cover;
  position: absolute;
  right: 69px;
  width: 407px;
}

.s9-1 .dsc01571-xIjSdS {
  background-color: transparent;
  height: 304px;
  object-fit: cover;
  position: absolute;
  right: 70px;
  top: calc(35.42% - 108px);
  width: 405px;
}

.s9-1 .dsc01572-xIjSdS {
  background-color: transparent;
  bottom: calc(31.71% - 105px);
  height: 332px;
  left: calc(42.11% - 186px);
  object-fit: cover;
  position: absolute;
  width: 442px;
}

.s9-1 .dsc_0041_-moment-xIjSdS {
  background-color: transparent;
  height: 262px;
  object-fit: cover;
  position: absolute;
  right: 20px;
  top: 207px;
  width: 466px;
}

.s9-1 .dsc_0042-xIjSdS {
  background-color: transparent;
  height: 261px;
  left: calc(46.31% - 181px);
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 391px;
}

.s9-1 .dsc01573-xIjSdS {
  background-color: transparent;
  bottom: calc(31.79% - 105px);
  height: 329px;
  object-fit: cover;
  position: absolute;
  right: 58px;
  width: 439px;
}

.s9-1 .dsc01575-xIjSdS {
  background-color: transparent;
  bottom: calc(45.10% - 184px);
  height: 408px;
  object-fit: cover;
  position: absolute;
  right: calc(47.00% - 144px);
  width: 306px;
}

.s9-1 .gipexit-22-xIjSdS {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.s9-1 .span0-9x28Yf {
}

.s9-1 .span1-9x28Yf {
}
@media screen and (max-width: 1979px) {
  .screen.s9 { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.s9-1 { 
    display: none;
   }
}