/* screen - teching */

.teching {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1716px;
  min-width: 1980px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.teching .image-26-Jb0mYc {
  background-color: transparent;
  height: 221px;
  left: calc(41.34% - 153px);
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 369px;
}

.teching .gipexit-22-Jb0mYc {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.teching .span0-AhLDdT {
}

.teching .span1-AhLDdT {
}

.teching .teching-hsieh-Jb0mYc {
  background-color: transparent;
  height: 181px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  right: calc(42.99% - 298px);
  text-align: left;
  top: 133px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: 693px;
}

.teching .image-27-Jb0mYc {
  background-color: transparent;
  bottom: calc(33.70% - 302px);
  height: 897px;
  object-fit: cover;
  position: absolute;
  right: 239px;
  width: 699px;
}

.teching .in-dit-werk-vertrekt-Jb0mYc {
  background-color: transparent;
  bottom: 34px;
  height: 653px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.85% - 152px);
  text-align: left;
  white-space: nowrap;
  width: 305px;
}

.teching .tehching-hsieh-1950-Jb0mYc {
  background-color: transparent;
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(44.17% - 98px);
  text-align: left;
  top: calc(22.67% - 24px);
  white-space: nowrap;
  width: 223px;
}

.teching .inspiratie-Jb0mYc {
  background-color: transparent;
  height: 474px;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 260px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.teching .image-31-Jb0mYc {
  background-color: transparent;
  bottom: calc(45.79% - 172px);
  height: 375px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  width: 549px;
}

.teching .one-year-performance-1978-1979-Jb0mYc {
  background-color: transparent;
  bottom: calc(33.18% - 9px);
  height: 28px;
  left: 189px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 290px;
}
/* screen - teching-1 */

.teching-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1716px;
  min-width: 877px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.teching-1 .image-26-o0osYa {
  background-color: transparent;
  height: 221px;
  left: calc(41.34% - 153px);
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 369px;
}

.teching-1 .teching-hsieh-o0osYa {
  background-color: transparent;
  height: 181px;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 119px;
  position: absolute;
  text-align: left;
  top: 133px;
  transform: rotate(-1.00deg);
  white-space: nowrap;
  width: calc(100.00% - 184px);
}

.teching-1 .image-27-o0osYa {
  background-color: transparent;
  bottom: calc(33.70% - 302px);
  height: 897px;
  object-fit: cover;
  position: absolute;
  right: -60px;
  width: 699px;
}

.teching-1 .in-dit-werk-vertrekt-o0osYa {
  background-color: transparent;
  bottom: 34px;
  height: 653px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.83% - 152px);
  text-align: left;
  white-space: nowrap;
  width: 305px;
}

.teching-1 .tehching-hsieh-1950-o0osYa {
  background-color: transparent;
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 64px;
  text-align: left;
  top: calc(17.95% - 19px);
  white-space: nowrap;
  width: 223px;
}

.teching-1 .inspiratie-o0osYa {
  background-color: transparent;
  height: 474px;
  left: 134px;
  letter-spacing: 0.00px;
  line-height: 155px;
  position: absolute;
  text-align: left;
  top: 260px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 412px;
}

.teching-1 .image-31-o0osYa {
  background-color: transparent;
  height: 184px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: calc(41.84% - 77px);
  width: 270px;
}

.teching-1 .one-year-performance-1978-1979-o0osYa {
  background-color: transparent;
  height: 28px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(49.47% - 14px);
  white-space: nowrap;
  width: 290px;
}

.teching-1 .gipexit-22-o0osYa {
  background-color: transparent;
  cursor: pointer;
  height: 133px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 92px;
  text-align: left;
  top: 110px;
  transform: rotate(1.00deg);
  white-space: nowrap;
  width: 95px;
}

.teching-1 .span0-LFMXdu {
}

.teching-1 .span1-LFMXdu {
}
@media screen and (max-width: 1979px) {
  .screen.teching { 
    display: none;
   }
}
@media screen and (min-width: 1980px) {
  .screen.teching-1 { 
    display: none;
   }
}