.mediaViewInfo {
	--web-view-name: iPhone 12, 12 Pro – 1;
	--web-view-id: iPhone_12_12_Pro__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_12_12_Pro__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_12_12_Pro__1 {
	position: absolute;
	width: 412px;
	height: 844px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone 12, 12 Pro – 1;
	--web-view-id: iPhone_12_12_Pro__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(213,21,21,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 214px;
	left: 43px;
	top: 208px;
}
#TESTITEQTITZQTI {
	left: 175px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#TESTITEQTITZQTI_i {
	left: 175px;
	top: 246px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#TESTITEQTITZQTI_j {
	left: 175px;
	top: 293px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#TESTITEQTITZQTI_k {
	left: 175px;
	top: 340px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#TESTITEQTITZQTI_l {
	left: 175px;
	top: 387px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#TESTITEQTITZQTI_m {
	left: 175px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(6,3,3,1);
}
#Phone {
	left: 43px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: left;
	font-family: SimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(6,3,3,1);
}
#Polygon_1 {
	fill: rgba(24,51,225,1);
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 162px;
	height: 293px;
	left: 163px;
	top: 531px;
	transform: matrix(1,0,0,1,0,0);
}